{% extends 'base.html.twig' %}

{% block title %}{{ page_name }}{% endblock %}
{% block jumbotron %} {{ page_name }} {% endblock %}

{% block body %}

<div class="container mt-4">
	{% if error %}
		<div class="alert alert-danger">
			{{ error.messageKey | trans(error.messagedata, 'security') }}
		</div>
	{% endif %}
	{{ include('security/_form-secu.html.twig', {form: form, button: 'S\'inscrire'}) }}
<a href="{{ path('login') }}">Déjà inscrit·e ? Se connecter, c'est par ici !</a>
</div>
{% endblock %}