{% extends 'base.html.twig' %}

{% block title %}Page Perso{% endblock %}
{% block jumbotron %} {{ page_name }} {% endblock %}

{% block body %}
<div class="container">
	<h2>Liste des profils</h2>
	<div class="row flex">
		{% for profile in profiles %}
			<div class="col-4">
				<div class="card">
					<div class="card-body">
						<h3 class="card-title">
							<a href="{{ path('show', {id: profile.id, slug: profile.slug}) }}">{{ profile.alias}}</a>
						</h3>
						<p class="card-text">
							{{ profile.email }}	
						</p>
						<div class="text-primary">
							{{ profile.lastname }} {{ profile.firstname }}
							
						</div>
							
					</div>	
				</div>
			</div>
		{% endfor %}
	</div>
</div>
	
{% endblock %}
