{{ form_start(form) }}
	<div class="row">
		<div class="col-md-4"> {{ form_row(form.name_entreprise) }}</div>
		<div class="col-md-4"> {{ form_row(form.first_name_contact) }}</div>
		<div class="col-md-4"> {{ form_row(form.last_name_contact) }}</div>

	</div>
	<div class="row">
		<div class="col-md-4"> {{ form_row(form.date_lm) }}</div>
		<div class="col-md-8"> {{ form_row(form.lm_content) }}</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			{{ form_widget(form) }}
			<button class="btn btn-secondary">{{ button|default('Enregistrer') }}</button>
		</div>
	</div>
{{ form_end(form) }}
