
{{ form_start(form) }}
	<div class="row">
		<div class="col-md-6"> {{ form_row(form.last_name) }}</div>
		<div class="col-md-6"> {{ form_row(form.first_name) }}</div>
	</div>
	<div class="row">
		<div class="col-md-6"> {{ form_row(form.alias) }}</div>
		<div class="col-md-6"> {{ form_row(form.email) }}</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			{{ form_widget(form) }}
			<button class="btn btn-secondary">{{ button|default('Enregistrer') }}</button>
		</div>
	</div>
{{ form_end(form) }}
